ul.breadcrumbs { border:0; border-bottom: dashed 3px #0DF; padding-bottom: 0px;  background-image: url("/images/bgbands.png"); background-repeat: repeat; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
ul.breadcrumbs li:before { content: ">"; color: #0DF; font-weight: bold; font-size: 26px }
ul.breadcrumbs li { padding:0; margin: 0 }
ul.breadcrumbs li a, ul.breadcrumbs li span {padding-left: 0; font-weight: bold; font-size: 26px; color: #0DF;}
ul.breadcrumbs li:last-child:after { content: "{}"; color: #0DF; font-weight: bold; font-size: 26px }
.block-grid > li { padding-bottom: 15px; padding-top: 15px; padding: 0;}

.linkbox { height: 150px; width:150px; background: #242828; border: solid 3px #0BF; margin: 20px; padding: 10px}

.linkbox a { color: #0DF;  font-size: 18px; font-weight: bold; text-transform: uppercase;}
.linkbox p { color: #0AF; font-size: 10px; }

body { background-image: url("/images/bgbands.png"); background-repeat: repeat;}
p { color: #0AF;}
h1  { color: #0DF;}