{% extends 'body_wrapper.html' %}
{% block content %}
	<div class="row">
		<div class="four columns centered">
			
		</div>
		<div class="eight columns centered">
			<h1>Hi, I'm Ted</h1>
			<p>I'm a programmer and game designer currently living in San Francisco. I deeply believe in the power of play to improve the lives of players from all walks of life. I'm particularly passionate about using games as a means to educate players. I also enjoy experimenting with expressive mechanics, and finding new ways for players to interact with games in deeper ways. In my spare time, I also brew beer, write, and box. I currently work at <a href="http://www.mindsnacks.com">MindSnacks</a>, making educational games for mobile devices.</p>
		</div>
	</div>
{% endblock %}