{% extends 'body_wrapper.html' %}
{% block content %}
<div class="twelve columns centered">
	<div class="row">
		<div class="three columns">
			<div class="row">
				<div class="nine columns centered th">
					<img src="/images/dramatic_chipmunk.jpg"/>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns centered">
					<p>Here's a bunch of text about the thing that's on this page</p>
				</div>
			</div>
		</div>
		<div class="nine columns">
			<h1>Hi!  I'm Ted</h1>
			<p>This is my website.</p>
		</div>
	</div>
</div>
{% endblock %}